body {
    box-shadow: rgb(153, 111, 102) 10px 0px 50px;
}

article > img {
    display: block;
    width: 50%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
}

figure > video, figure > figcaption.video {
    display: block;
    width: 95%;
    margin: 10px 0px;
}

figcaption.video, figcaption.date, figcaption#last-date {
    font-family: mplus light;
    font-size: .9em;
}

figcaption.audio {
    font-family: mplus bold;
    margin: 10px auto;
    width: 95%;
}

aside {
    text-align: center;
    background-color: rgb(250, 230, 226);
    border-radius: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

audio {
    width: 90%;
    margin-top: auto;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    filter: invert(100%) opacity(50%) contrast(100%);
}

aside > h2 {
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(71, 20, 18);
    background-color: rgb(250, 182, 169);
    border-radius: 20px 20px 0px 0px;
}

div.row {
    padding-right: 10px;
    align-items: center;
}

h1 {
    font-size: 2em;
    text-align: center;
    vertical-align: top;
    padding-bottom: 15px;
    color: rgb(71, 20, 18);
}

h2 {
    line-height: 25pt;
    color: rgb(71, 20, 18);
    padding-top: 20px;
}

main {
    padding-left: 10px;
    padding-right: 15px;
}

aside#aside2 > figure > a > img {
    width: 90%;
}

aside > p {
    font-family: mplus medium;
    font-size: 1em;
    width: 90%;
    text-align: left;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 5px;
    color: rgb(90, 24, 21);
}

figcaption.date {
    margin-left: 5%;
    text-align: left;
}

figure > a:hover, figure > a:active {
    filter: opacity(65%);
}

figcaption#last-date {
    margin-left: 5%;
    margin-bottom: 10px;
    text-align: left;
}

p, figcaption {
    color: rgb(90, 24, 21);
}

/*Layout*/

body {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: "header  header"
                         "aside1   articles"
                         "aside2   articles"
                         "footer  footer";
    grid-row-gap: 15px;
}

#head {
    grid-area: header;
}

#aside1 {
    grid-area: aside1;
    grid-template-rows: auto;
}

#aside2 {
    grid-area: aside2;
    grid-template-rows: auto;
}

#main {
    grid-area: articles;
}

#foot {
    grid-area: footer;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

