aside, nav, footer, figure {
    display: none;
}

article > img {
    display: block;
    width: 50%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    font-size: 2em;
    text-align: center;
    vertical-align: top;
    padding-bottom: 15px;
    color: rgb(71, 20, 18);
}

h2 {
    line-height: 25pt;
    color: rgb(71, 20, 18);
    padding-top: 20px;
}

main {
    padding-left: 10px;
    padding-right: 15px;
}

h2#impact {
    page-break-before: always;
}

p#lastParagraph {
    margin-bottom: 15px;
}

@page {
    size: auto;
    margin: .5in;
}

/*Layout*/

body {
    display: grid;
    grid-template-areas: "header"
                         "articles";
    grid-row-gap: 15px;
}

#head {
    grid-area: header;
}

#main {
    grid-area: articles;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

